<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
<div class="image-container">
    <img src="assets/home1.jpg" alt="Imagen clínica" class="responsive-image">
    <div class="overlay">
      <div class="centered-text h1">CLÍNICA ONLINE RZ</div>
    </div>
  </div>
  
  <div class="p-container">
    <p>
      La <strong>Clínica Online RZ</strong>, especialista en salud, cuenta actualmente con consultorios (6 en la actualidad), dos laboratorios (físicos en la clínica), y una sala de espera general. Estamos abiertos de
      <strong>lunes a viernes de 8:00hs a 19:00hs</strong> y <strong>sábados de 8:00hs a 14:00hs</strong>.
    </p>
    <p>
      En nuestra clínica te ofrecemos un sevicio excepcional, tanto si eres paciente o especialista. Acudí a atención médica de calidad, con especialistas de distintas áreas, 
      todo desde la comodidad de tu hogar.
    </p>
  </div>
  
  <div class="footer-container">
    <p class="footer-text">
      Clínica online RZ
    </p>
    <p class="footer-text">
      Argentina, Bs. As
    </p>
    <div class="footer-logo-container">
      <img src="assets/logo.png" alt="Logo pequeño" class="footer-logo" />
    </div>
  </div>
  