<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">

<header class="header-container">
  <div class="header-content">
    <img src="assets/logo.png" alt="Logo" class="logo-img mb-2" />
    
    <div class="nav-buttons mt-3">
      <a routerLink="/" routerLinkActive="active" class="btn">Inicio</a>

      <ng-container *ngIf="!userEmail">
        <a routerLink="/login" routerLinkActive="active" class="btn">Iniciar sesión</a>
        <a routerLink="/registro" routerLinkActive="active" class="btn">Registrarse</a>
      </ng-container>

      <ng-container *ngIf="userRole === 'admin'">
        <a routerLink="/mi-perfil" routerLinkActive="active" class="btn">Mi perfil</a>
        <a routerLink="/usuarios" routerLinkActive="active" class="btn">Usuarios</a>
        <a routerLink="/turnos-admin" routerLinkActive="active" class="btn">Turnos</a>
        <a routerLink="/solicitar-turno" routerLinkActive="active" class="btn">Solicitar turno</a>
        <a routerLink="/estadisticas-admin" routerLinkActive="active" class="btn">Estadísticas</a>
      </ng-container>
      
      <ng-container *ngIf="userRole === 'especialista'">
        <a routerLink="/mis-pacientes" routerLinkActive="active" class="btn">Mis pacientes</a>
        <a routerLink="/mis-horarios" routerLinkActive="active" class="btn">Mis horarios</a>
        <a routerLink="/mis-turnos-especialista" routerLinkActive="active" class="btn">Mis turnos</a>
        <a routerLink="/mi-perfil" routerLinkActive="active" class="btn">Mi perfil</a>
      </ng-container>

      <ng-container *ngIf="userRole === 'paciente'">
        <a routerLink="/mi-perfil" routerLinkActive="active" class="btn">Mi perfil</a>
        <a routerLink="/mis-turnos-paciente" routerLinkActive="active" class="btn">Mis turnos</a>
        <a routerLink="/solicitar-turno" routerLinkActive="active" class="btn">Solicitar turno</a>
      </ng-container>


    </div>

    <div *ngIf="userEmail" class="user-area d-flex align-items-center">
      <span class="welcome-text me-3">{{ userEmail }}</span>
      <button class="btn logout-btn" (click)="logout()">Cerrar sesión</button>
    </div>
  </div>
</header>

<main [@routeAnimations]="prepareRoute(outlet)" class="page-container">
  <router-outlet #outlet="outlet"></router-outlet>
</main>
